body{
    background-color: #f1f1f1;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    font-size: 2rem;
    padding: 100px;
}

p{
    font-size: 1.2rem;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
}

button{
    border: none;
    font-size: 3rem;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

button:hover{
    opacity: 0.7;
}

#Rock{
background-color: red;
}
#Paper{
background-color: lightblue;
}
#Scissors{
background-color: green;
width: 80px;
}

#user-score{
    color: blue;
}

#computer-score{
    color: red;
}